.card-footer{

    display:flex;

    gap:10px;

    margin-top:20px;

}

.card-footer button{

    flex:1;

    padding:10px;

    border:none;

    border-radius:8px;

    cursor:pointer;

    transition:.3s;

}

.card-footer button:first-child{

    background:#3498DB;

    color:white;

}

.card-footer button:nth-child(2){

    background:#F9B233;

    color:#1B2944;

}

.card-footer button:last-child{

    background:#E74C3C;

    color:white;

}

.card-footer button:hover{

    opacity:.9;

}