.sidebar{
    width:200px;
    min-height:100vh;

    background:#1B2944;

    padding:30px;
}

.logo{

    color:white;

    margin-bottom:40px;
}

.sidebar nav{

    display:flex;

    flex-direction:column;

    gap:20px;
}

.sidebar a{

    color:white;

    text-decoration:none;

    font-size:18px;

    transition:.3s;
}

.sidebar a:hover{

    color:#F9B233;
}

.menu-title{

    color:#7A8AA5;

    font-size:12px;

    letter-spacing:2px;

    margin-top:30px;

    margin-bottom:12px;

    text-transform:uppercase;

}